<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active" >{{'header.profile' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active" >{{'header.blog' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/certificate']" routerLinkActive="router-link-active" >{{'header.certificate' | translate}}</a>
      </li>
      <li class="nav-item dropdown align-right">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{'header.language' | translate}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let lang of languageArray" (click)="changeLang(lang)" class="dropdown-item">{{lang}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>